<div class="well">
<div id="dashboard">
    <div id="chart_div"></div>
    <div id="range_filter_div"></div>
</div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/default/GetChart.js"></script>
}