<form id="newGradeItemForm" class="form-horizontal" role="form">
    <div class="well">
        <div class="form-group">
            <label for="exam_name" class="col-lg-4">
                ExamName:</label>
            <div class="col-lg-8">
                <input id="exam_name" data-bind="value: exam_name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="score" class="col-lg-4">
                Score:</label>
            <div class="col-lg-8">
                <input id="score" data-bind="value: grade"/>
            </div>
        </div>
        <div class="form-group">
            <label for="datepicker_examdate" class="col-lg-4">
                ExamDate:</label>
            <div class="col-lg-8">
                <input id="datepicker_examdate" data-bind="value: exam_date"/>
            </div>
        </div>
    </div>
</form>
