<form id="newPaymentForm" class="form-horizontal" role="form">
    <div class="well">
        <div class="form-group">
            <label for="payment_name" class="col-lg-4">
                PaymentName:</label>
            <div class="col-lg-8">
                <input id="payment_name" />
            </div>
        </div>
        <div class="form-group">
            <label for="payment_amount" class="col-lg-4">
                Payment:</label>
            <div class="col-lg-8">
                <input id="payment_amount" />
            </div>
        </div>
        <div class="form-group">
            <label for="datepicker_deadline" class="col-lg-4">
                DeadLine:</label>
            <div class="col-lg-8">
                <input id="datepicker_deadline" />
            </div>
        </div>
        <div class="form-group">
            <label for="tobyclass_droplist" class="col-lg-4">
                TobyClass:</label>
            <div class="col-lg-8">
                <input id="tobyclass_droplist" type="text" />
            </div>
        </div>
    </div>
    <div class="well-list">
        <div id="student_result" class="form-group"></div>
    </div>
</form>
