@model TobyStudentManagementSystem.Models.SchoolLookupTable
<form id="school_lut" class="form-horizontal" role="form">
    <div class="well">
        <div class="form-group">
            <label for="school_name" class="col-lg-4">
                School Name:</label>
            <div class="col-lg-4">
                <input id="school_name" type="text" value="@Model.SchoolName" />
            </div>
        </div>
    </div>
</form>

