@model TobyStudentManagementSystem.Models.TobyClassLookupTable
<form id="tobyclass_lut" class="form-horizontal" role="form">
    <div class="well">
        <div class="form-group">
            <label for="tobyclass_name" class="col-lg-4">
                Class Name:</label>
            <div class="col-lg-4">
                <input id="tobyclass_name" type="text" value="@Model.ClassName" />
            </div>
        </div>
    </div>
</form>


