<form id="worktype_lut_form" class="form-horizontal" role="form">
    <div class="well">
        <div class="form-group">
            <label for="type_name" class="col-lg-4">
                Type Name:</label>
            <div class="col-lg-4">
                <input id="type_name" type="text" data-bind="value: type_name" />
            </div>
        </div>
    </div>
</form>

