<form id="dispatchForm" class="form-horizontal" role="form">
    <div class="well">
        <div class="form-group">
            <label for="datetimepicker_start" class="col-lg-2">
                StartTime:</label>
            <div class="col-lg-8">
                <input id="datetimepicker_start" />
            </div>
        </div>
        <div class="form-group">
            <label for="datetimepicker_end" class="col-lg-2">
                EndTime:</label>
            <div class="col-lg-8">
                <input id="datetimepicker_end" />
            </div>
        </div>
        <div class="form-group">
            <label for="teacher_droplist" class="col-lg-2">
                Duty Teacher:</label>
            <div class="col-lg-8">
                <input id="teacher_droplist" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label for="worktype_droplist" class="col-lg-2">
                Work Type:</label>
            <div class="col-lg-8">
                <input id="worktype_droplist" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label for="event_title" class="col-lg-2">
                EventTile:</label>
            <div class="col-lg-8">
                <input id="event_title" type="text" />
            </div>
            <div class=" col-lg-2">
                <button id="search_student" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="well-list">
        <div id="result" class="form-group"></div>
    </div>
</form>
