<form id="duty_work_detail" class="form-horizontal" role="form">
    <div class="well">
        <div class="form-group">
            <label for="datepicker_start" class="col-lg-2">
                DutyDate:</label>
            <div class="col-lg-8">
                <input id="datepicker_duty_date" />
            </div>
        </div>
        <div class="form-group">
            <label for="teacher_droplist" class="col-lg-2">
                Duty Teacher:</label>
            <div class="col-lg-8">
                <input id="teacher_droplist" type="text" />
            </div>
        </div>
    </div>
</form>
